@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: var(--color-purple-900);
}

@utility btn {
  @apply rounded-lg;
  @apply shadow-none;
}