@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: var(--color-purple-900);
}

@utility btn {
  @apply rounded-lg;
  @apply shadow-none;
  @apply p-4;
  @apply font-normal;
  @apply gap-1;
  @apply h-12;

  &.btn-circle {
    @apply rounded-full;
  }
};

@utility btn-link {
  text-decoration-line: none;
}

@utility tab {
  --tab-border-color: var(--color-gray-200);
  @apply grow;
  @apply [&:not(:last-child)]:before:hidden;
}

@utility card {
  background: white
}