@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-nav-height: 64px;

  /* Colors */
  --color-primary: #f4a261;
  --color-secondary: #e76f51;
  --color-tertiary: #e9c46a;
  --color-grey-light: #e3e1d9;
  --color-grey: #c7c8cc;
  --color-grey-dark: #b4b4b8;
  --color-background: #faf9fa;
  --color-white: white;
  --main-nav-background-color: #378ce7;
  --main-section-background-color: #67c6e3;
  --who-we-are-section-background-color: #dff5ff;

  /* Fonts */
  --font-family: "Merriweather", serif;
  --font-family-heading: "Work Sans", sans-serif;

  /* Font sizes */
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-x-large: 3rem;

  /* Spacing */
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 4rem;
  --spacing-none: 0;

  /* Border radius */
  --border-radius-small: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 2rem;
  --border-radius-none: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#main_nav {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  height: var(--main-nav-height);
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  padding-inline: var(--spacing-medium);
}

.main_nav-list {
  list-style: none;
  display: flex;
  gap: var(--spacing-small);
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-items: center;
}

.main_nav-list a {
  text-decoration: none;
  color: inherit;
}

.main_nav-list a:visited {
  color: inherit;
}

.main_nav-list a:hover {
  color: var(--color-secondary);
}

.main_nav-logo {
  margin-block: auto;
  text-decoration: none;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-large);
  font-weight: bold;
}

.main_nav-logo:visited {
  color: inherit;
}

#simulator_section {
  background-color: var(--color-background);
}

.simulator_section-header {
  margin-block-start: calc(var(--main-nav-height) + var(--spacing-medium));
  margin-block-end: var(--spacing-medium);
  text-align: center;
  display: flex;
  gap: var(--spacing-medium);
  flex-direction: column;
  background-color: var(--color-background);
  max-width: 720px;
  margin-inline: auto;
}

#simulator_section-sponsors {
  margin-inline: auto;
  width: fit-content;
  display: grid;
  gap: var(--spacing-small);
  grid-template-areas:
    "logo text text"
    "logo link link";
}

#simulator_section-sponsor-logo {
  grid-area: logo;
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#simulator_section-sponsor-link {
  grid-area: link;
  margin-block: auto;
  margin-inline: auto;
}

#simulator_section-sponsor-text {
  margin-block: auto;
  grid-area: text;
}

#who_we_are_section {
  background-color: var(--color-background);
  padding-block-end: var(--spacing-medium);
  padding-inline: var(--spacing-medium);
  display: grid;
  grid-template-areas:
    "title title"
    "article_1_photo article_2_photo"
    "article_1_title article_2_title"
    "article_1_text article_2_text"
    "article_1_link article_2_link";
}

#who_we_are_section_title {
  grid-area: title;
}

#who_we_are_section_article_1_photo {
  grid-area: article_1_photo;
  margin-inline-end: var(--spacing-small);
}

#who_we_are_section_article_1_title {
  grid-area: article_1_title;
  margin-inline-end: var(--spacing-small);
}

#who_we_are_section_article_1_text {
  grid-area: article_1_text;
  margin-inline-end: var(--spacing-small);
}

#who_we_are_section_article_1_link {
  grid-area: article_1_link;
  margin-inline-end: var(--spacing-small);
}

#who_we_are_section_article_2_photo {
  grid-area: article_2_photo;
  margin-inline-start: var(--spacing-small);
}

#who_we_are_section_article_2_title {
  grid-area: article_2_title;
  margin-inline-start: var(--spacing-small);
}

#who_we_are_section_article_2_text {
  grid-area: article_2_text;
  margin-inline-start: var(--spacing-small);
}

#who_we_are_section_article_2_link {
  grid-area: article_2_link;
  margin-inline-start: var(--spacing-small);
}

#who_we_are_section #who_we_are_section_title {
  text-align: center;
  padding-block: var(--spacing-medium);
}

.who_we_are_section_article_photo {
  height: 200px;
  width: 145px;
  object-fit: cover;
  margin-inline: auto;
  background: #378ce7;
  border-radius: var(--border-radius-medium);
}

.who_we_are_article_photo_container {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-block: var(--spacing-medium);
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}

.who_we_are_section_article_text {
  margin-inline: auto;
  background-color: white;
  padding-block-end: var(--spacing-medium);
  padding-inline: var(--spacing-medium);
}

.who_we_are_section_article_link {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-block-end: var(--spacing-medium);
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
}

.who_we_are_section_article_title {
  background-color: white;
  padding-block-end: var(--spacing-medium);
  display: flex;
  justify-content: center;
}

#root {
  background-color: white;
}

/* Fonts */

body {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-medium);
  margin-block: 0;
}

p {
  margin-block: 0;
}

/* Buttons */

.button {
  color: inherit;
  text-decoration: none;
  background-color: var(--color-primary);
  padding: var(--spacing-small);
  border-radius: var(--border-radius-small);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
}

.button:visited {
  color: inherit;
}

.button:hover {
  background-color: var(--color-secondary);
}

.button--grey {
  background-color: var(--color-grey-light);
}

.button--grey:hover {
  background-color: var(--color-grey);
}

/* Typography */

.heading-1 {
  font-size: var(--font-size-x-large);
}

.heading-2 {
  font-size: var(--font-size-large);
}

.heading-3 {
  font-size: var(--font-size-medium);
}

/* Loader */

.loading_container {
  width: 100%;
  padding-block-end: var(--spacing-large);
  padding-block-start: calc(var(--spacing-large) - 2.5em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: var(--color-grey-dark);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
