@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-nav-height: 106px;

  /* Colors */
  --color-primary: #f4a261;
  --color-secondary: #e76f51;
  --color-tertiary: #e9c46a;
  --color-grey-light: #e3e1d9;
  --color-grey: #c7c8cc;
  --color-grey-dark: #b4b4b8;
  --color-background: #f8f6fa;
  --color-white: white;
  --main-nav-background-color: #378ce7;
  --main-section-background-color: #67c6e3;
  --who-we-are-section-background-color: #dff5ff;

  /* Fonts */
  --font-color: #32164b;
  --font-color-light: #8466a3;
  --font-family: "Work Sans", sans-serif;
  --font-family-heading: "Work Sans", sans-serif;

  /* Font sizes */
  --font-size-x-small: 0.75rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-x-large: 3rem;

  /* Spacing */
  --spacing-extra-small: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 4rem;
  --spacing-none: 0;

  /* Border radius */
  --border-radius-small: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 2rem;
  --border-radius-none: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#hamburger-menu {
  position: relative;
}

#hamburger-menu > input {
  display: none;
}

#hamburger-menu > #hamburger-menu-links {
  position: absolute;
  display: none;
  top: 32px;
  left: calc(-100vw + 30px);
  width: calc(100vw);
  list-style: none;
  background: white;
  margin: 0;
  padding-inline: 0;
}

#hamburger-menu > #hamburger-menu-links a {
  text-decoration: none;
}

#hamburger-menu > input:checked ~ #hamburger-menu-links {
  display: block;
}

#main_nav {
  /* position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  z-index: 99999999; */
  /* height: var(--main-nav-height); */
  background-color: var(--color-background);
}

.main_nav-list {
  list-style: none;
}

.main_nav-list a {
  text-decoration: none;
}

.main_nav-list a:visited {
  color: inherit;
}

.main_nav-list a:hover {
  color: var(--font-color-light);
}

.main_nav-logo {
  margin-block: auto;
  text-decoration: none;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-large);
  font-weight: bold;
}

.main_nav-logo:visited {
  color: inherit;
}

#simulator_section {
  background-color: var(--color-background);
}

.simulator_section-header {
  margin-block-start: var(--spacing-medium);
  margin-block-end: var(--spacing-medium);
  text-align: center;
  display: flex;
  gap: var(--spacing-medium);
  flex-direction: column;
  background-color: var(--color-background);
  margin-inline: auto;
}

#simulator_section-sponsors {
  background: linear-gradient(
    to bottom,
    var(--color-background) 30%,
    white 30%
  );
}

#simulator_section-sponsor-logo {
  grid-area: logo;
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: auto;
  margin-inline: auto;
}

#simulator_section-sponsor-link {
  grid-area: link;
  margin-block: auto;
  margin-inline: auto;
}

#simulator_section-sponsor-text {
  margin-block: auto;
  grid-area: text;
}

#simulator_section-sponsor-offer {
  grid-area: offer;
}

#who_we_are_section {
  background-color: var(--color-background);
  padding-block-end: var(--spacing-medium);
  padding-inline: var(--spacing-medium);
  display: flex;
  flex-direction: column;
}

.who_we_are_section-authors {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small);
}

.who_we_are_section-authors > * {
  flex: calc(33.33% - (2 * var(--spacing-small) / 3));
  box-sizing: border-box;
  min-width: calc(200px - var(--spacing-small));
  padding-block: var(--spacing-large);
  padding-inline: var(--spacing-medium);
  background: white;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  align-items: center;
  border-radius: var(--border-radius-medium);
}

.who_we_are_section-authors > * > p {
  flex-grow: 1;
}

.who_we_are_section_article_photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover; /* Remplit le cercle avec l'image */
  background-position: center; /* Centre l'image */
}

.who_we_are_section_article_photo.pierre {
  background-position: 45% 10%;
  background-size: 242px;
}

.who_we_are_section_article_photo.tom {
  background-position: top;
  background-size: 157px;
}

.who_we_are_section_article_photo.lucie {
  background-position: top;
}

/* Fonts */

body {
  font-family: var(--font-family);
  font-size: var(--font-size-x-small);
  color: #32164b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-small);
  margin-block: 0;
}

p {
  margin-block: 0;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: var(--font-size-small);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-medium);
    margin-block: 0;
  }
}

/* Buttons */

.button {
  color: inherit;
  text-decoration: none;
  background-color: var(--color-primary);
  padding-block: var(--spacing-extra-small);
  padding-inline: var(--spacing-small);

  border-radius: var(--border-radius-small);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
}

.button:visited {
  color: inherit;
}

.button:hover {
  background-color: var(--color-secondary);
}

.button--primary {
  color: white;
  background-color: var(--font-color);
}

.button--primary:hover {
  background-color: var(--font-color-light);
}

/* Typography */

/* Sizes */

.text-size-md {
  font-size: var(--font-size-medium);
}

.text-size-sm {
  font-size: var(--font-size-small);
}

.heading-1 {
  font-size: var(--font-size-x-large);
}

.heading-2 {
  font-size: var(--font-size-large);
}

.heading-3 {
  font-weight: bold;
  font-size: var(--font-size-medium);
}

.heading-4 {
  font-weight: bold;
  font-size: var(--font-size-small);
}

/* Alignments */

.text-align-center {
  text-align: center;
}

/* Spacings */
/* Padding */
.padding-lg {
  padding: var(--spacing-large);
}

/* Loader */

.loading_container {
  width: 100%;
  padding-block-end: var(--spacing-large);
  padding-block-start: calc(var(--spacing-large) - 2.5em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: var(--color-grey-dark);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

/* Carbon footprint */

#wcb_p {
  color: var(--font-color) !important;
}

#wcb_g {
  border-color: var(--font-color) !important;
}

#wcb_a {
  background: var(--font-color) !important;
  border-color: var(--font-color) !important;
}

#wcb_2 {
  color: var(--font-color) !important;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
