/* @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */

/* @tailwind base; */

/* @tailwind components; */

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-\[calc\(-11px-0\.5em\)\] {
  bottom: calc(-11px - 0.5em)
}

.left-auto {
  left: auto
}

.right-auto {
  right: auto
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mx-xl {
  margin-left: 4em;
  margin-right: 4em
}

.mx-lg {
  margin-left: 2em;
  margin-right: 2em
}

.mb-lg {
  margin-bottom: 2em
}

.mt-md {
  margin-top: 1em
}

.mt-sm {
  margin-top: 0.5em
}

.mt-xl {
  margin-top: 4em
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.w-2\/3 {
  width: 66.666667%
}

.w-full {
  width: 100%
}

.w-\[107px\] {
  width: 107px
}

.max-w-\[1320px\] {
  max-width: 1320px
}

.max-w-\[780px\] {
  max-width: 780px
}

.flex-grow {
  flex-grow: 1
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-\[25px\] {
  gap: 25px
}

.gap-\[40px\] {
  gap: 40px
}

.gap-\[5px\] {
  gap: 5px
}

.gap-md {
  gap: 1em
}

.gap-sm {
  gap: 0.5em
}

.gap-\[12px\] {
  gap: 12px
}

.gap-\[\] {
  gap: 
}

.gap-\[14px\] {
  gap: 14px
}

.text-wrap {
  text-wrap: wrap
}

.rounded-\[13px\] {
  border-radius: 13px
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-\[1px\] {
  border-width: 1px
}

.border-l-2 {
  border-left-width: 2px
}

.border-solid {
  border-style: solid
}

.border-grey-1 {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity))
}

.border-grey-2 {
  --tw-border-opacity: 1;
  border-color: rgb(172 172 172 / var(--tw-border-opacity))
}

.border-primary-dark {
  --tw-border-opacity: 1;
  border-color: rgb(50 22 75 / var(--tw-border-opacity))
}

.bg-primary-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(50 22 75 / var(--tw-bg-opacity))
}

.bg-primary-light {
  --tw-bg-opacity: 1;
  background-color: rgb(248 246 250 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-sm {
  padding: 0.5em
}

.p-xl {
  padding: 4em
}

.p-md {
  padding: 1em
}

.px-\[50px\] {
  padding-left: 50px;
  padding-right: 50px
}

.px-\[60px\] {
  padding-left: 60px;
  padding-right: 60px
}

.px-lg {
  padding-left: 2em;
  padding-right: 2em
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px
}

.py-xl {
  padding-top: 4em;
  padding-bottom: 4em
}

.py-xs {
  padding-top: 0.25em;
  padding-bottom: 0.25em
}

.py-lg {
  padding-top: 2em;
  padding-bottom: 2em
}

.px-sm {
  padding-left: 0.5em;
  padding-right: 0.5em
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px
}

.pb-\[calc\(11px\+0\.5em\+30px\)\] {
  padding-bottom: calc(11px + 0.5em + 30px)
}

.pb-xl {
  padding-bottom: 4em
}

.pl-sm {
  padding-left: 0.5em
}

.pr-sm {
  padding-right: 0.5em
}

.pt-\[30px\] {
  padding-top: 30px
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1
}

.text-base {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 500
}

.text-footer {
  font-size: 12px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: 400
}

.text-title_1 {
  font-size: 35px;
  line-height: 48px;
  letter-spacing: 0;
  font-weight: 700
}

.text-title_2 {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 600
}

.text-title_3 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 600
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-subtitle_2 {
  font-size: 15px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: 500
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-\[18px\] {
  font-size: 18px
}

.text-\[15px\] {
  font-size: 15px
}

.text-\[13px\] {
  font-size: 13px
}

.text-\[17px\] {
  font-size: 17px
}

.text-\[11px\] {
  font-size: 11px
}

.font-bold {
  font-weight: 700
}

.leading-\[20px\] {
  line-height: 20px
}

.leading-\[27px\] {
  line-height: 27px
}

.leading-\[17px\] {
  line-height: 17px
}

.text-primary-dark {
  --tw-text-opacity: 1;
  color: rgb(50 22 75 / var(--tw-text-opacity))
}

.text-\[\] {
  color: 
}

.before\:flex::before {
  content: var(--tw-content);
  display: flex
}

.before\:w-\[3px\]::before {
  content: var(--tw-content);
  width: 3px
}

.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content)
}

.visited\:text-primary-dark:visited {
  color: rgb(50 22 75 )
}

.visited\:text-white:visited {
  color: rgb(255 255 255 )
}

.hover\:bg-activity_1:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(248 212 112 / var(--tw-bg-opacity))
}

.hover\:text-primary-dark:hover {
  --tw-text-opacity: 1;
  color: rgb(50 22 75 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
  .sm\:block {
    display: block
  }

  .sm\:flex {
    display: flex
  }

  .sm\:hidden {
    display: none
  }

  .sm\:w-\[181px\] {
    width: 181px
  }

  .sm\:flex-row {
    flex-direction: row
  }

  .sm\:items-start {
    align-items: flex-start
  }

  .sm\:gap-\[25px\] {
    gap: 25px
  }

  .sm\:gap-sm {
    gap: 0.5em
  }

  .sm\:p-lg {
    padding: 2em
  }

  .sm\:px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px
  }

  .sm\:text-left {
    text-align: left
  }

  .sm\:text-title_3 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 600
  }

  .sm\:text-7xl {
    font-size: 4.5rem;
    line-height: 1
  }

  .sm\:text-5xl {
    font-size: 3rem;
    line-height: 1
  }

  .sm\:text-title_1 {
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 700
  }

  .sm\:text-base {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 500
  }

  .sm\:text-title_2 {
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: 600
  }

  .sm\:text-\[20px\] {
    font-size: 20px
  }

  .sm\:leading-\[30px\] {
    line-height: 30px
  }

  .sm\:text-\[20\] {
    color: 20
  }
}
