/* @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */

/* @tailwind base; */

/* @tailwind components; */

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.left-1\/2 {
  left: 50%
}

.left-auto {
  left: auto
}

.right-auto {
  right: auto
}

.bottom-\[calc\(22px\+1em\)\] {
  bottom: calc(22px + 1em)
}

.bottom-\[-calc\(22px\+1em\)\] {
  bottom: -calc(22px + 1em)
}

.bottom-\[calc\(-22px-1em\)\] {
  bottom: calc(-22px - 1em)
}

.bottom-\[calc\(-11px-0\.5em\)\] {
  bottom: calc(-11px - 0.5em)
}

.m-md {
  margin: 1em
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.my-xl {
  margin-top: 4em;
  margin-bottom: 4em
}

.mx-xl {
  margin-left: 4em;
  margin-right: 4em
}

.mx-md {
  margin-left: 1em;
  margin-right: 1em
}

.my-md {
  margin-top: 1em;
  margin-bottom: 1em
}

.mb-lg {
  margin-bottom: 2em
}

.ml-\[0\] {
  margin-left: 0
}

.mr-\[0\] {
  margin-right: 0
}

.mt-md {
  margin-top: 1em
}

.mt-sm {
  margin-top: 0.5em
}

.mt-xl {
  margin-top: 4em
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-2\/3 {
  width: 66.666667%
}

.w-full {
  width: 100%
}

.w-\[2px\] {
  width: 2px
}

.w-\[6px\] {
  width: 6px
}

.max-w-\[1320px\] {
  max-width: 1320px
}

.max-w-\[780px\] {
  max-width: 780px
}

.flex-grow {
  flex-grow: 1
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-\[40px\] {
  gap: 40px
}

.gap-md {
  gap: 1em
}

.gap-sm {
  gap: 0.5em
}

.gap-\[25px\] {
  gap: 25px
}

.gap-\[5px\] {
  gap: 5px
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-\[13px\] {
  border-radius: 13px
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-\[1px\] {
  border-width: 1px
}

.border-l-2 {
  border-left-width: 2px
}

.border-l-4 {
  border-left-width: 4px
}

.border-solid {
  border-style: solid
}

.border-grey-1 {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity))
}

.border-grey-2 {
  --tw-border-opacity: 1;
  border-color: rgb(172 172 172 / var(--tw-border-opacity))
}

.border-primary-dark {
  --tw-border-opacity: 1;
  border-color: rgb(50 22 75 / var(--tw-border-opacity))
}

.border-blue-600 {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity))
}

.bg-primary-light {
  --tw-bg-opacity: 1;
  background-color: rgb(248 246 250 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.bg-primary-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(50 22 75 / var(--tw-bg-opacity))
}

.p-sm {
  padding: 0.5em
}

.p-md {
  padding: 1em
}

.px-\[60px\] {
  padding-left: 60px;
  padding-right: 60px
}

.px-lg {
  padding-left: 2em;
  padding-right: 2em
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px
}

.py-xl {
  padding-top: 4em;
  padding-bottom: 4em
}

.py-xs {
  padding-top: 0.25em;
  padding-bottom: 0.25em
}

.px-\[\] {
  padding-left: ;
  padding-right: 
}

.px-\[48px\] {
  padding-left: 48px;
  padding-right: 48px
}

.px-\[50px\] {
  padding-left: 50px;
  padding-right: 50px
}

.pb-xl {
  padding-bottom: 4em
}

.pl-md {
  padding-left: 1em
}

.pl-sm {
  padding-left: 0.5em
}

.pr-md {
  padding-right: 1em
}

.pr-sm {
  padding-right: 0.5em
}

.pb-md {
  padding-bottom: 1em
}

.pb-\[calc\(11px0\.5em\)\] {
  padding-bottom: calc(11px0.5em)
}

.pb-\[calc\(11px\+0\.5em\)\] {
  padding-bottom: calc(11px + 0.5em)
}

.pb-lg {
  padding-bottom: 2em
}

.pb-\[calc\(11px\+0\.5em\+23px\)\] {
  padding-bottom: calc(11px + 0.5em + 23px)
}

.pt-\[43px\] {
  padding-top: 43px
}

.pt-\[23px\] {
  padding-top: 23px
}

.pb-\[calc\(11px\+0\.5em\+30px\)\] {
  padding-bottom: calc(11px + 0.5em + 30px)
}

.pt-\[30px\] {
  padding-top: 30px
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1
}

.text-base {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 500
}

.text-footer {
  font-size: 12px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: 400
}

.text-title_1 {
  font-size: 35px;
  line-height: 48px;
  letter-spacing: 0;
  font-weight: 700
}

.text-title_2 {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 600
}

.text-title_3 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 600
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-primary-dark {
  --tw-text-opacity: 1;
  color: rgb(50 22 75 / var(--tw-text-opacity))
}

.before\:flex::before {
  content: var(--tw-content);
  display: flex
}

.before\:h-auto::before {
  content: var(--tw-content);
  height: auto
}

.before\:w-md::before {
  content: var(--tw-content);
  width: 1em
}

.before\:w-\[3px\]::before {
  content: var(--tw-content);
  width: 3px
}

.before\:w-\[6px\]::before {
  content: var(--tw-content);
  width: 6px
}

.before\:bg-slate-200::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content)
}

.visited\:text-primary-dark:visited {
  color: rgb(50 22 75 )
}

.visited\:text-white:visited {
  color: rgb(255 255 255 )
}

.hover\:bg-activity_1:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(248 212 112 / var(--tw-bg-opacity))
}

.hover\:text-primary-dark:hover {
  --tw-text-opacity: 1;
  color: rgb(50 22 75 / var(--tw-text-opacity))
}
